.header {
  background-color: #fff;
  box-shadow: 0 0.25rem 0.5rem rgba(#000, 0.05);
  z-index: 2;
}

.overview {
  display: grid;
  align-items: center;
  grid-template-columns: max-content 1fr;
  column-gap: 1.6rem;
  // row-gap: 0.6rem;
  padding: 1.2rem 2.4rem 2.4rem;

  &__img {
    grid-row: span 4;

    height: 12rem;
    width: 9rem;
    border-radius: 1.2rem;
    object-fit: cover;
    object-position: center;
  }
  &__name {
    font-weight: 600;
    font-size: 1.8rem;
  }
  span {
    font-weight: 600;
  }
}
